extends layout

block content

  .centered
    h1 Hello#[span.accent .]
    h2 My name is Eli Williamson.
    h3 I am a #[span.strikeout cereal] serial entrepreneur who cut my teeth in the tech industry as a <strong>front-end developer &amp; designer</strong>. This quickly evolved into the bigger picture of <strong>user experience design</strong>. When i'm not thinking of the next big thing, you can find me pixel pushing in adobe or logic lurking in sublime text.
    h3 I believe clean design and clean code make for a clean win. You may have seen a few of my wins in #[a(href="justdusk.com/projects/your-leadership-edge.html") Graphic Design USA], #[a(href="justdusk.html/projects/jeet.html") Awwwards], #[a(href="justdusk.com/projects/christ-college.html") W3 Awards].
    h3 You may also know me as the founder of #[a(href="justdusk.com") DUSK], a nighttiming network agency (EST. 2005). If we've met outside of the interwebs perhaps my #[a(href="https://twitter.com/eliwilliamson") twitter] might jog your memory.
    h3 Maybe you just stumbled onto this page. In that case, i'm a web-designing, baby-rearing, coffee-drinking, mountain-hiking, nashville-loving, music-jamming, tech enthusiast with a love for all things digital.
    h3 Don't hesitate to #[a(href="mailto:eliwilliamson@gmail.com") drop me a line] or just tag along for my day-to-day #[a(href="instagram.com/eliwilliamson") adventures].
    .salutation Cheers!#[span.accent .]

  #particles

  .gradient-overlay
